:root {
  --black: rgba(0, 0, 0, 1);
  --dark-blue: rgba(0, 30, 108, 1);
  --blue: rgba(3, 83, 151, 1);
  --orange: rgba(232, 99, 10, 1);
  --yellow: rgba(252, 217, 0, 1);
  --light-blue: rgba(239, 255, 253, 1);
  --white: rgba(255, 255, 255, 1);
  --heading-1-font-family: "Roboto", Helvetica;
  --heading-1-font-weight: 400;
  --heading-1-font-size: 60px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: normal;
  --heading-1-font-style: normal;
  --heading-2-font-family: "Roboto", Helvetica;
  --heading-2-font-weight: 400;
  --heading-2-font-size: 48px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 60px;
  --heading-2-font-style: normal;
  --heading-3-font-family: "Roboto", Helvetica;
  --heading-3-font-weight: 400;
  --heading-3-font-size: 30px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 38px;
  --heading-3-font-style: normal;
  --heading-4-font-family: "Roboto", Helvetica;
  --heading-4-font-weight: 400;
  --heading-4-font-size: 24px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 32px;
  --heading-4-font-style: normal;
  --paragraph-font-family: "Roboto", Helvetica;
  --paragraph-font-weight: 400;
  --paragraph-font-size: 18px;
  --paragraph-letter-spacing: 0.36px;
  --paragraph-line-height: 30px;
  --paragraph-font-style: normal;
  --light-paragraph-font-family: "Roboto", Helvetica;
  --light-paragraph-font-weight: 400;
  --light-paragraph-font-size: 18px;
  --light-paragraph-letter-spacing: 0.36px;
  --light-paragraph-line-height: 24px;
  --light-paragraph-font-style: normal;
  --light-subtitle-font-family: "Roboto", Helvetica;
  --light-subtitle-font-weight: 700;
  --light-subtitle-font-size: 20px;
  --light-subtitle-letter-spacing: 0px;
  --light-subtitle-line-height: 32px;
  --light-subtitle-font-style: normal;
  --heading-5-font-family: "Roboto", Helvetica;
  --heading-5-font-weight: 400;
  --heading-5-font-size: 18px;
  --heading-5-letter-spacing: 0px;
  --heading-5-line-height: 28px;
  --heading-5-font-style: normal;
}